#container {
    width: 66.66%;
    border: solid 15px #bdc3c7;
    margin: auto;
    padding: 0 15px 15px 15px;
}

body {
    font-family: "Source Sans Pro";
}

h2 {
    text-transform: capitalize;
    color: #2c3e50;
    font-weight: bold;
}

h3 {
    text-transform: uppercase;
    color: #3498db;
    font-size: 14px;
    letter-spacing: 3px;
}

h3 p {
    font-weight: 600;
    letter-spacing: -1px;
}

p:nth-of-type(1) {
    border-left: #bdc3c7 solid 6px;
    padding-left: 5px;
}

hr {
    height: 0;
    border: 0;
    border-top: 2px solid lightgray;
    float: center;
    width: 90%;
}